# Let's get this party started

In [1]:
#Dependencies
import os
import numpy as np
import pandas as pd
import joblib
import matplotlib.pyplot as plt
import seaborn as sns
import re
import datetime as dt

# Framing the Problem & Big Picture look (see readme file)

# Get the Data

In [2]:
#set path to datasets
path = os.getcwd()
os.chdir("../datasets/")
filename = "sampledata.xlsx"
ser_path = "./serialized/"
filetwo = "sale_orders.xlsx"
filethree = "new_inventory.xlsx"

In [3]:
#Importing company datasets
#prod_hist = pd.read_excel(filename, sheet_name="production_hist")
#ship_hist = pd.read_excel(filename, sheet_name="shipment_hist")
#atp_hist = pd.read_excel(filename, sheet_name="atp_hist")
#inventory = pd.read_excel(filename, sheet_name="inventory")

In [4]:
#importing sales orders and new inventory
# order_hist = pd.read_excel(filetwo, sheet_name = "sale_orders")
# inv_hist2 = pd.read_excel(filethree, sheet_name = "new_inv")

In [5]:
# #setting file names
# data = [inventory, atp_hist, prod_hist, ship_hist]
# fnames = ["inventory", "atp_hist", "prod_hist","ship_hist"]
# count = 0
# for df in data:
#     df.name = fnames[count]
#     count+=1

In [6]:
# #saving dataframes into pickle files
# for df in data:
#     pklfile = df.name + ".pkl"
#     df.to_pickle(ser_path + pklfile)

In [7]:
# #setting file names
# data2 = [order_hist, inv_hist2]
# fnames = ["order_hist", "inv_hist2"]

# count = 0
# for df in data2:
#     df.name = fnames[count]
#     count+=1

# #saving new data into pickle files
# for df in data2:
#     pklfile = df.name + ".pkl"
#     df.to_pickle(ser_path + pklfile)

#saving dataframes into feather (not working)
for df in data:
    feafile = df.name
    df.to_feather(ser_path+feafile)

In [8]:
#see pklfile name order
pklfiles = os.listdir("./serialized")
pklfiles

['ship_hist.pkl',
 'inventory.pkl',
 'inv_hist2.pkl',
 'order_hist.pkl',
 'atp_hist.pkl',
 'prod_hist.pkl']

In [9]:
#Fast Upload using pickle files
ship_hist = pd.read_pickle(ser_path+pklfiles[0])
inventory = pd.read_pickle(ser_path+pklfiles[1])
inv_hist2 = pd.read_pickle(ser_path+pklfiles[2])
order_hist = pd.read_pickle(ser_path+pklfiles[3])
atp_hist = pd.read_pickle(ser_path+pklfiles[4])
prod_hist = pd.read_pickle(ser_path+pklfiles[5])

# Cleaning Up

### function clean_columns

In [10]:
def clean_columns(dataframe):
    for col in dataframe.columns:
        dataframe.rename(columns={col:re.sub(r'([a-z](?=[A-Z])|[A-Z](?=[A-Z][a-z]))', r'\1 ', col)}, inplace=True)
    dataframe.columns = dataframe.columns.str.strip().str.lower().str.replace(" ","_")
    try:
        dataframe["calendar_day"] = dataframe["calendar_day"].astype("datetime64")
    except:
        pass
    try:
        dataframe["requested_date"] = dataframe["requested_date"].astype("datetime64")
        dataframe["confirmed_date"] = dataframe["confirmed_date"].astype("datetime64")
        dataframe["material_avail_date"] = dataframe["material_avail_date"].astype("datetime64")
        dataframe["load_date"] = dataframe["load_date"].astype("datetime64")
        dataframe["plan_goods_issue_date"] = dataframe["plan_goods_issue_date"].astype("datetime64")
    except:
        pass
    try:
        dataframe["snapshot_date"] = dataframe["snapshot_date"].astype("datetime64")
    finally:
        return dataframe.columns

In [11]:
# attempt to get rid of nulls, need to be more specific with fills to not loose valuable insight. 
# data = [inventory, atp_hist, prod_hist, ship_hist]
# for df in data:
#     df = df.fillna(0, inplace=True)

### Inventory

In [12]:
clean_columns(inventory)

Index(['calendar_day', 'plant', 'material', 'maktx', 'ph3', 'ph5', 'ph',
       'material_type', 'tons', 'shape', 'size_for_qual_cert', 'strgr',
       'block_resource', 'work_center', 'atp'],
      dtype='object')

In [13]:
inventory.head(5)

,calendar_day,plant,material,maktx,ph3,ph5,ph,material_type,tons,shape,size_for_qual_cert,strgr,block_resource,work_center,atp
0,2020-02-23,1302,106022474,"L 2X2X1/4 A36/44W/A529-50 20'00""",LS-Mills-Mer,LS-Mills-Mer-Mer-Lght Shp,LS-Mills-Mer-Mer-Lght Shp-MBQ Angles,ZERT,0.009,SHAPE_L,2X2X1/4,63,"2"" ANG",25000001.0,NaN
1,2020-02-20,1302,106022474,"L 2X2X1/4 A36/44W/A529-50 20'00""",LS-Mills-Mer,LS-Mills-Mer-Mer-Lght Shp,LS-Mills-Mer-Mer-Lght Shp-MBQ Angles,ZERT,0.009,SHAPE_L,2X2X1/4,63,"2"" ANG",25000001.0,NaN
2,2020-02-19,1302,106022474,"L 2X2X1/4 A36/44W/A529-50 20'00""",LS-Mills-Mer,LS-Mills-Mer-Mer-Lght Shp,LS-Mills-Mer-Mer-Lght Shp-MBQ Angles,ZERT,0.009,SHAPE_L,2X2X1/4,63,"2"" ANG",25000001.0,NaN
3,2020-02-18,1302,106022474,"L 2X2X1/4 A36/44W/A529-50 20'00""",LS-Mills-Mer,LS-Mills-Mer-Mer-Lght Shp,LS-Mills-Mer-Mer-Lght Shp-MBQ Angles,ZERT,0.009,SHAPE_L,2X2X1/4,63,"2"" ANG",25000001.0,NaN
4,2020-02-17,1302,106022474,"L 2X2X1/4 A36/44W/A529-50 20'00""",LS-Mills-Mer,LS-Mills-Mer-Mer-Lght Shp,LS-Mills-Mer-Mer-Lght Shp-MBQ Angles,ZERT,0.009,SHAPE_L,2X2X1/4,63,"2"" ANG",25000001.0,NaN

In [14]:
inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850873 entries, 0 to 850872
Data columns (total 15 columns):
calendar_day          850873 non-null datetime64[ns]
plant                 850873 non-null int64
material              850873 non-null int64
maktx                 850873 non-null object
ph3                   850873 non-null object
ph5                   850873 non-null object
ph                    850873 non-null object
material_type         850873 non-null object
tons                  850873 non-null float64
shape                 848401 non-null object
size_for_qual_cert    848401 non-null object
strgr                 850873 non-null int64
block_resource        626217 non-null object
work_center           850866 non-null float64
atp                   175364 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(8)
memory usage: 97.4+ MB

In [15]:
#Filling in empty atp rows with zero
inventory["atp"].fillna(0, inplace=True)

In [16]:
# inventory["work_center"] = inventory["work_center"].astype("int64")

In [17]:
inventory = inventory.loc[inventory["material_type"]=="ZERT"]
inventory["material_type"].unique()

array(['ZERT'], dtype=object)

In [18]:
inv_reduced = inventory[["calendar_day", "strgr", "material", "maktx", "work_center", "ph", "shape", "size_for_qual_cert", "block_resource", "tons", "atp"]]
inv_reduced.rename(columns={"material":"sku", "maktx":"material_description", "size_for_qual_cert":"size", "block_resource":"block", "strgr":"strategy"}, inplace=True)
inv_reduced = inv_reduced.sort_values(["calendar_day", "material_description"])
inv_reduced.head()

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

,calendar_day,strategy,sku,material_description,work_center,ph,shape,size,block,tons,atp
799352,2017-01-01,63,102003236,"BL 5 1/8X7 3/8 1010M-446_1302 3,800",18000001.0,LS-Mills-Bil-Bil-Bil-Billets,RECTANGULAR,5 1/8 X 7 3/8,NaN,9.442000,0.0
799094,2017-01-01,63,102003053,"BL 5 1/8X7 3/8 1010M-446_1302 3,858 SA",18000001.0,LS-Mills-Bil-Bil-Bil-Billets,RECTANGULAR,5 1/8 X 7 3/8,NaN,1.929000,0.0
799267,2017-01-01,63,102003353,BL 5 1/8X7 3/8 GAU_1050-501_1302 3168 SA,18000001.0,LS-Mills-Bil-Bil-Bil-Billets,RECTANGULAR,5 1/8 X 7 3/8,NaN,7.920000,0.0
799180,2017-01-01,63,102003354,BL 5 1/8X7 3/8 GAU_MG12-500_1302 3220 SA,18000001.0,LS-Mills-Bil-Bil-Bil-Billets,RECTANGULAR,5 1/8 X 7 3/8,NaN,11.380000,0.0
844399,2017-01-01,40,106020238,"C 10X15.3# GGMULTI 20'00""",25000001.0,LS-Mills-Mer-Mer-Strc A&C-Channels,SHAPE_C,10 X 15.3#,"10"" CHN",110.007004,0.0

In [19]:
#changing dtype
inv_reduced["strategy"] = inv_reduced["strategy"].astype("category")
inv_reduced["sku"] = inv_reduced["sku"].astype("object")
inv_reduced["work_center"] = inv_reduced["work_center"].astype("category")

In [20]:
#view of new dtypes & counts
inv_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 649986 entries, 799352 to 18367
Data columns (total 11 columns):
calendar_day            649986 non-null datetime64[ns]
strategy                649986 non-null category
sku                     649986 non-null object
material_description    649986 non-null object
work_center             649979 non-null category
ph                      649986 non-null object
shape                   647514 non-null object
size                    647514 non-null object
block                   626217 non-null object
tons                    649986 non-null float64
atp                     649986 non-null float64
dtypes: category(2), datetime64[ns](1), float64(2), object(6)
memory usage: 50.8+ MB

In [21]:
#peak at all nulls across
inv_reduced[inv_reduced.isna().any(axis=1)]

,calendar_day,strategy,sku,material_description,work_center,ph,shape,size,block,tons,atp
799352,2017-01-01,63,102003236,"BL 5 1/8X7 3/8 1010M-446_1302 3,800",18000001.0,LS-Mills-Bil-Bil-Bil-Billets,RECTANGULAR,5 1/8 X 7 3/8,NaN,9.442,0.0
799094,2017-01-01,63,102003053,"BL 5 1/8X7 3/8 1010M-446_1302 3,858 SA",18000001.0,LS-Mills-Bil-Bil-Bil-Billets,RECTANGULAR,5 1/8 X 7 3/8,NaN,1.929,0.0
799267,2017-01-01,63,102003353,BL 5 1/8X7 3/8 GAU_1050-501_1302 3168 SA,18000001.0,LS-Mills-Bil-Bil-Bil-Billets,RECTANGULAR,5 1/8 X 7 3/8,NaN,7.920,0.0
799180,2017-01-01,63,102003354,BL 5 1/8X7 3/8 GAU_MG12-500_1302 3220 SA,18000001.0,LS-Mills-Bil-Bil-Bil-Billets,RECTANGULAR,5 1/8 X 7 3/8,NaN,11.380,0.0
840484,2017-01-01,40,106020149,"C 12X30# GGMULTI 20'00""",25000001.0,LS-Mills-Mer-Mer-Strc A&C-Channels,SHAPE_C,12 X 30#,NaN,1.200,0.0
...,...,...,...,...,...,...,...,...,...,...,...
3819,2020-02-23,40,109004211,"PR 3/8"" 1018 20'00"" CD",25000001.0,LS-Mills-Mer-Mer-MBQ-Pencil Rod,PENCIL_ROD,"3/8""",NaN,-0.002,0.0
19798,2020-02-23,63,205012261,"RD .678"" 1055MC 31'00""",25000002.0,SS-Mills-SBQ-SBQ-SBQ-SBQ Rd,ROUND,".678""",NaN,-0.001,0.0
8136,2020-02-23,40,109250351,"RD 1 1/4"" GGMULTI 20'00""",25000002.0,LS-Mills-Mer-Mer-MBQ-MBQ Rd,ROUND,"1 1/4""",NaN,2.529,0.0
8134,2020-02-23,63,109250353,"RD 1/2"" GGMULTI 20'00""",25000002.0,LS-Mills-Mer-Mer-MBQ-MBQ Rd,ROUND,"1/2""",NaN,-0.002,0.0
8133,2020-02-23,40,109250355,"RD 3/4"" GGMULTI 20'00""",25000002.0,LS-Mills-Mer-Mer-MBQ-MBQ Rd,ROUND,"3/4""",NaN,0.002,0.0

### ATP History

In [22]:
clean_columns(atp_hist)

Index(['plant', 'plant_description', 'sku', 'atp_floor', 'snapshot_date'], dtype='object')

In [23]:
atp_hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235706 entries, 0 to 235705
Data columns (total 5 columns):
plant                235706 non-null int64
plant_description    235706 non-null object
sku                  235706 non-null object
atp_floor            235706 non-null float64
snapshot_date        235706 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 9.0+ MB

In [24]:
atp_reduced = atp_hist[["sku", "atp_floor", "snapshot_date"]]
atp_reduced = atp_reduced.sort_values(["snapshot_date", "sku"])
atp_reduced.head()

              sku  atp_floor snapshot_date
109514  101500984     12.306    2017-12-04
109513  102003236      9.442    2017-12-04
109512  102003353      1.584    2017-12-04
18494   102003354      2.380    2017-12-04
109511  102508509     17.590    2017-12-04

In [25]:
atp_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 235706 entries, 109514 to 132048
Data columns (total 3 columns):
sku              235706 non-null object
atp_floor        235706 non-null float64
snapshot_date    235706 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 7.2+ MB

### Production History

In [26]:
clean_columns(prod_hist)

Index(['calendar_day', 'plant', 'plant_description', 'production_process',
       'production_process_description', 'work_center', 'wc_description',
       'material', 'material_description', 'ph3', 'ph5', 'ton', 'block',
       'shape', 'size', 'stratedgy', 'month/year', 'year', 'monthyear'],
      dtype='object')

In [27]:
prod_hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41935 entries, 0 to 41934
Data columns (total 19 columns):
calendar_day                      41935 non-null datetime64[ns]
plant                             41935 non-null int64
plant_description                 41935 non-null object
production_process                41935 non-null int64
production_process_description    41935 non-null object
work_center                       37833 non-null object
wc_description                    41935 non-null object
material                          41935 non-null int64
material_description              41935 non-null object
ph3                               36579 non-null object
ph5                               36579 non-null object
ton                               41935 non-null int64
block                             14851 non-null object
shape                             36115 non-null object
size                              36115 non-null object
stratedgy                         36129 non-null float64
month/year                        41935 non-null datetime64[ns]
year                              41935 non-null int64
monthyear                         41935 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(1), int64(5), object(10)
memory usage: 6.1+ MB

In [28]:
# prod_hist["stratedgy"] = prod_hist["stratedgy"].astype("int64")

In [29]:
prod_reduced = prod_hist[["calendar_day", "production_process", "production_process_description","stratedgy","work_center","wc_description","block","shape","size","material","material_description","ton"]]
prod_reduced.rename(columns={"material":"sku", "stratedgy":"strategy"}, inplace=True)
prod_reduced = prod_reduced.sort_values(["calendar_day", "material_description"])
prod_reduced.head()

,calendar_day,production_process,production_process_description,strategy,work_center,wc_description,block,shape,size,sku,material_description,ton
39204,2013-02-01,4306,Scrap yard,NaN,17200001,1302/17200001,NaN,NaN,NaN,56000099,INDUSTRIAL - #1 HM,58
41067,2013-02-01,4306,Scrap yard,NaN,17200001,1302/17200001,NaN,NaN,NaN,56000093,INDUSTRIAL - #2 SHRED,359
30631,2013-02-04,4307,Melt shop,10.0,19000001,MELT SHOP - CONTINUOUS CASTING,NaN,RECTANGULAR,5 1/8 X 7 3/8,102508981,"BL 5 1/8X7 3/8 TRIPLB-393_1302 3,662",114
22721,2013-02-04,4307,Melt shop,10.0,19000001,MELT SHOP - CONTINUOUS CASTING,NaN,RECTANGULAR,5 1/8 X 7 3/8,102508832,"BL 5 1/8X7 3/8 TRIPLB-424_1302 4,002",42
30634,2013-02-04,4307,Melt shop,10.0,19000001,MELT SHOP - CONTINUOUS CASTING,NaN,RECTANGULAR,5 1/8 X 7 3/8,102508836,"BL 5 1/8X7 3/8 TRIPLB-426_1302 3,516",791

In [30]:
#Removing strategy 10 (Note: check assumption that these are all billets)
prod_reduced = prod_reduced.loc[(prod_reduced["strategy"] !=10)]

In [31]:
#Removing prod_processes up the supply chain: melt, scrap etc.
prod_reduced = prod_reduced.loc[(prod_reduced["production_process_description"] != "Melt shop") & (prod_reduced["production_process_description"] != "Scrap yard")]
prod_reduced = prod_reduced.loc[(prod_reduced["production_process_description"] != "Finishing production")]

In [32]:
#Identifying strategy=NaN rows
prod_reduced[prod_reduced["strategy"].isna()]

,calendar_day,production_process,production_process_description,strategy,work_center,wc_description,block,shape,size,sku,material_description,ton
36154,2015-02-27,4310,Rolling,NaN,25000002,ROLLING - BAR,NaN,NaN,NaN,40000148,COPROD - FG YIELD LOSS (ROLLING MILL),10
36155,2016-12-29,4310,Rolling,NaN,25000002,ROLLING - BAR,NaN,NaN,NaN,40000148,COPROD - FG YIELD LOSS (ROLLING MILL),-10

In [33]:
#Identifying size=NaN rows
#prod_reduced[prod_reduced["size"].isna()]

In [34]:
#Dropping selective NaN rows
prod_reduced.dropna(subset=["strategy"], inplace=True)

In [35]:
#Identifying unique inputs by column
unique_counts = pd.DataFrame.from_records([(col, prod_reduced[col].nunique()) for col in prod_reduced.columns],
                          columns=['Column_Name', 'Num_Unique']).sort_values(by=['Num_Unique'])
unique_counts

                       Column_Name  Num_Unique
1               production_process           1
2   production_process_description           1
3                         strategy           2
4                      work_center           4
5                   wc_description           4
7                            shape           6
6                            block          41
8                             size         175
11                             ton        1299
9                              sku        1862
0                     calendar_day        1884
10            material_description        1905

In [36]:
# Changing data types for colums, 
for col in prod_reduced.columns:
    if prod_reduced[col].nunique() < 10:
        prod_reduced[col] = prod_reduced[col].astype("category")
# not including "block" as it used as object elsewhere

prod_reduced["sku"] =prod_reduced["sku"].astype("object")

In [37]:
prod_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14820 entries, 192 to 13808
Data columns (total 12 columns):
calendar_day                      14820 non-null datetime64[ns]
production_process                14820 non-null category
production_process_description    14820 non-null category
strategy                          14820 non-null category
work_center                       13450 non-null category
wc_description                    14820 non-null category
block                             14815 non-null object
shape                             14795 non-null category
size                              14795 non-null object
sku                               14820 non-null object
material_description              14820 non-null object
ton                               14820 non-null int64
dtypes: category(6), datetime64[ns](1), int64(1), object(4)
memory usage: 898.1+ KB

In [38]:
prod_reduced[prod_reduced["block"].isna()]["production_process_description"]

36135    Rolling
35617    Rolling
35618    Rolling
35632    Rolling
35631    Rolling
Name: production_process_description, dtype: category
Categories (1, object): [Rolling]

In [39]:
prod_reduced[prod_reduced["block"].isna()].groupby("production_process_description").count()

,calendar_day,production_process,strategy,work_center,wc_description,block,shape,size,sku,material_description,ton
production_process_description,,,,,,,,,,,
Rolling,5,5,5,3,5,0,5,5,5,5,5

### Ship History

In [40]:
clean_columns(ship_hist)

Index(['shipping_day', 'plant', 'plant_description', 'sales_organization',
       'sales_doc_type', 'outside_rep_ship-to', 'inside_rep_ship-to',
       'sold-to_party', 'sold-to_part_name', 'ship-to_party',
       'ship-to_party_name', 'postal_code', 'location', 'region',
       'region_description', 'country', 'country_description', 'material',
       'material_description', 'div_id', 'div', 'prod_hier_level_3',
       'prod_hier_level_5', 'shipment_tons', 'manager', 'segment',
       'plantcountry', 'businessdaycounter', 'block', 'lvorm', 'mrptype',
       'proctype', 'relativemonth', 'shipping_week', 'strgr', 'shape',
       'sizeforqualcert', 'dailyshiprate3', 'monthdelta', 'dailyshiprate6',
       'dailyshiprate12', 'workcenter', 'wc_desc', 'bayou_flag'],
      dtype='object')

In [41]:
ship_hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156796 entries, 0 to 156795
Data columns (total 44 columns):
shipping_day            156796 non-null datetime64[ns]
plant                   156796 non-null int64
plant_description       156796 non-null object
sales_organization      156796 non-null object
sales_doc_type          156796 non-null object
outside_rep_ship-to     156796 non-null object
inside_rep_ship-to      156796 non-null object
sold-to_party           156796 non-null int64
sold-to_part_name       156796 non-null object
ship-to_party           156796 non-null int64
ship-to_party_name      156796 non-null object
postal_code             156796 non-null object
location                156796 non-null object
region                  156796 non-null object
region_description      156796 non-null object
country                 156796 non-null object
country_description     156796 non-null object
material                156796 non-null int64
material_description    156796 non-null object
div_id                  156796 non-null int64
div                     156796 non-null object
prod_hier_level_3       156796 non-null object
prod_hier_level_5       156796 non-null object
shipment_tons           155615 non-null float64
manager                 154100 non-null object
segment                 154100 non-null object
plantcountry            156796 non-null object
businessdaycounter      146985 non-null float64
block                   153079 non-null object
lvorm                   1374 non-null object
mrptype                 156772 non-null object
proctype                156772 non-null object
relativemonth           156796 non-null int64
shipping_week           156796 non-null datetime64[ns]
strgr                   156775 non-null float64
shape                   156775 non-null object
sizeforqualcert         156775 non-null object
dailyshiprate3          156322 non-null float64
monthdelta              156796 non-null int64
dailyshiprate6          155994 non-null float64
dailyshiprate12         155830 non-null float64
workcenter              126757 non-null float64
wc_desc                 126721 non-null object
bayou_flag              110339 non-null object
dtypes: datetime64[ns](2), float64(7), int64(7), object(28)
memory usage: 52.6+ MB

In [42]:
#Filling in NaN Shipment field rows to zero
ship_hist["shipment_tons"].fillna(0, inplace=True)

In [43]:
# Attempt to get correct data types, needs work.
# ship_hist["businessdaycounter"] = ship_hist["businessdaycounter"].astype("int64")
# ship_hist["strgr"] = ship_hist["strgr"].astype("int64")
# ship_hist["workcenter"] = ship_hist["workcenter"].astype("int64")

In [44]:
#Reducing main data frame
ship_reduced = ship_hist[["shipping_day", "block", "strgr", "shape", "sizeforqualcert", "div", "material", "material_description","shipment_tons", "segment", "sold-to_party","ship-to_party", "postal_code","region_description", "country"]]
ship_reduced.rename(columns={"material":"sku", "strgr":"strategy","sizeforqualcert":"size"}, inplace=True)
ship_reduced = ship_reduced.sort_values(["shipping_day", "material_description"])
ship_reduced.head()

,shipping_day,block,strategy,shape,size,div,sku,material_description,shipment_tons,segment,sold-to_party,ship-to_party,postal_code,region_description,country
155274,2015-01-02,"8"" CHN",40.0,SHAPE_C,8 X 11.5#,Merchants,106021714,"C 8X11.5# GGMULTI 20'00""",6.0,NA - DISTRIBUTION,100064074,100095278,05602-4480,Vermont,US
142630,2015-01-02,"3"" ANG",63.0,SHAPE_L,3X3X3/8,Merchants,106023082,"L 3X3X3/8 55W 60'00""",66.0,NA - CONSTRUCTION,100092191,100095442,J4G 1E5,Quebec,CA
142631,2015-01-02,"3"" ANG",63.0,SHAPE_L,3X3X5/16,Merchants,106023056,"L 3X3X5/16 55W 60'00""",218.0,NA - CONSTRUCTION,100092191,100095442,J4G 1E5,Quebec,CA
153402,2015-01-02,"5"" ANG",40.0,SHAPE_L,5X5X1/2,Merchants,106029552,"L 5X5X1/2 GGMULTI 40'00""",5.0,NA - DISTRIBUTION,100064074,100095278,05602-4480,Vermont,US
153404,2015-01-02,"5"" ANG",40.0,SHAPE_L,5X5X3/8,Merchants,106029532,"L 5X5X3/8 GGMULTI 40'00""",5.0,NA - DISTRIBUTION,100064074,100095278,05602-4480,Vermont,US

In [45]:
#Check unique Divisions
ship_hist["div"].unique()

array(['Merchants', 'Rebar', 'Billets', 'SBQ Bar', 'Scrap'], dtype=object)

In [46]:
#Removing billets and scrap from dataframe
ship_reduced = ship_reduced.loc[(ship_reduced["div"] != "Billets") & (ship_reduced["div"] != "Scrap")]

In [47]:
ship_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156711 entries, 155274 to 21756
Data columns (total 15 columns):
shipping_day            156711 non-null datetime64[ns]
block                   153079 non-null object
strategy                156700 non-null float64
shape                   156700 non-null object
size                    156700 non-null object
div                     156711 non-null object
sku                     156711 non-null int64
material_description    156711 non-null object
shipment_tons           156711 non-null float64
segment                 154025 non-null object
sold-to_party           156711 non-null int64
ship-to_party           156711 non-null int64
postal_code             156711 non-null object
region_description      156711 non-null object
country                 156711 non-null object
dtypes: datetime64[ns](1), float64(2), int64(3), object(9)
memory usage: 19.1+ MB

In [48]:
#Show Sample of NaN fields
ship_reduced[ship_reduced.isna().any(axis=1)]

,shipping_day,block,strategy,shape,size,div,sku,material_description,shipment_tons,segment,sold-to_party,ship-to_party,postal_code,region_description,country
99068,2015-01-05,NaN,40.0,FLAT,5/16 X 8,Merchants,109004173,"F 5/16X8 GGMULTI 20'00""",7.0,NA - DISTRIBUTION,100061219,100061242,K1G 3W3,Ontario,CA
146066,2015-01-05,NaN,40.0,FLAT,5/8 X 9,Merchants,109004228,"F 5/8X9 GGMULTI 20'00""",4.0,NA - DISTRIBUTION,100060244,100060255,48876-8795,Michigan,US
127810,2015-01-06,NaN,40.0,FLAT,1/4 X 1,Merchants,109005227,"F 1/4X1 A36/44W 20'00""",3.0,NA - DISTRIBUTION,100092155,100095353,T2C 4W3,Alberta,CA
127807,2015-01-06,NaN,40.0,FLAT,1/4 X 2,Merchants,109009070,"F 1/4X2 GGMULTI 20'00""",5.0,NA - DISTRIBUTION,100092155,100095353,T2C 4W3,Alberta,CA
127806,2015-01-06,NaN,40.0,FLAT,1/4 X 3,Merchants,109009081,"F 1/4X3 GGMULTI 20'00""",10.0,NA - DISTRIBUTION,100092155,100095353,T2C 4W3,Alberta,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18290,2020-02-21,"4 X 3"" ANG",40.0,SHAPE_L,4X3X1/4,Merchants,106028496,"L 4X3X1/4 GGMULTI 20'00""",3.0,NaN,100092138,100095277,V3N 2T8,British Columbia,CA
24479,2020-02-21,"4"" ANG",40.0,SHAPE_L,4X4X1/4,Merchants,106028759,"L 4X4X1/4 GGMULTI 40'00""",10.0,NaN,100061349,100061360,T2C 2A1,Alberta,CA
24480,2020-02-21,"4"" ANG",40.0,SHAPE_L,4X4X3/8,Merchants,106028625,"L 4X4X3/8 GGMULTI 40'00""",10.0,NaN,100061349,100061360,T2C 2A1,Alberta,CA
18281,2020-02-21,"5 X 3"" ANG",40.0,SHAPE_L,5X3X3/8,Merchants,106029499,"L 5X3X3/8 GGMULTI 20'00""",3.0,NaN,100092142,100095283,V4X 2M9,British Columbia,CA
18370,2020-02-21,TRN,40.0,SHAPE_L,8X8X1/2,Merchants,106019495,"L 8X8X1/2 GGMULTI 40'00""",5.0,NaN,100092138,100095277,V3N 2T8,British Columbia,CA

In [49]:
#Show the shape that show as null within the block
ship_reduced[ship_reduced["block"].isna()].groupby("shape").count()

,shipping_day,block,strategy,size,div,sku,material_description,shipment_tons,segment,sold-to_party,ship-to_party,postal_code,region_description,country
shape,,,,,,,,,,,,,,
ASDRAWING,2,0,2,2,2,2,2,2,2,2,2,2,2,2
FLAT,2457,0,2457,2457,2457,2457,2457,2457,2249,2457,2457,2457,2457,2457
PENCIL_ROD,81,0,81,81,81,81,81,81,81,81,81,81,81,81
ROUND,246,0,246,246,246,246,246,246,216,246,246,246,246,246
SHAPE_C,237,0,237,237,237,237,237,237,231,237,237,237,237,237
SHAPE_L,415,0,415,415,415,415,415,415,384,415,415,415,415,415
SHAPE_MC,31,0,31,31,31,31,31,31,31,31,31,31,31,31
SQUARE,152,0,152,152,152,152,152,152,139,152,152,152,152,152

### New Inventory Data (dating back 2016)

In [50]:
inv_hist2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779395 entries, 0 to 779394
Data columns (total 23 columns):
CalendarDay        779395 non-null datetime64[ns]
Plant              779395 non-null int64
Material           779395 non-null int64
PH3                779395 non-null object
PH5                779395 non-null object
PH                 779395 non-null object
Material type      779395 non-null object
Tons               779395 non-null float64
MATNR              779395 non-null int64
MAKTX              779395 non-null object
Shape              776588 non-null object
SizeForQualCert    776588 non-null object
MTO_MTS            771934 non-null object
Planning_Group     776585 non-null object
PTP_Group          776588 non-null object
MillComboCode      779392 non-null object
PGGroupCode        779392 non-null object
BlockResource      769251 non-null object
L5Code             779392 non-null object
SteelGrade         776588 non-null object
LengthImperial     47420 non-null float64
LengthText         773743 non-null object
WeightPerPiece     738328 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(16)
memory usage: 136.8+ MB

In [51]:
clean_columns(inv_hist2)

Index(['calendar_day', 'plant', 'material', 'ph3', 'ph5', 'ph',
       'material_type', 'tons', 'matnr', 'maktx', 'shape',
       'size_for_qual_cert', 'mto_mts', 'planning_group', 'ptp_group',
       'mill_combo_code', 'pg_group_code', 'block_resource', 'l5code',
       'steel_grade', 'length_imperial', 'length_text', 'weight_per_piece'],
      dtype='object')

In [52]:
inv_reduced2 = inv_hist2[["calendar_day","material", "maktx","material_type", "mto_mts", "ph","shape", "block_resource",
                          "size_for_qual_cert", "steel_grade","length_text", "tons"]]
inv_reduced2.rename(columns={"material":"sku", "maktx":"material_description", "mto_mts":"strategy", "block_resource":"block", 
                             "size_for_qual_cert":"size"}, inplace=True)
inv_reduced2 = inv_reduced2.sort_values(["calendar_day", "material_description"])
inv_reduced2.head()

,calendar_day,sku,material_description,material_type,strategy,ph,shape,block,size,steel_grade,length_text,tons
0,2016-01-03,102003236,"BL 5 1/8X7 3/8 1010M-446_1302 3,800",ZERT,MTO,LS-Mills-Bil-Bil-Bil-Billets,RECTANGULAR,NaN,5 1/8 X 7 3/8,1010M-446_1302,0,7.600
16,2016-01-03,106020238,"C 10X15.3# GGMULTI 20'00""",ZERT,MTS,LS-Mills-Mer-Mer-Strc A&C-Channels,SHAPE_C,"10"" CHN",10 X 15.3#,GGMULTI,"20'00""",200.736
17,2016-01-03,106020239,"C 10X15.3# GGMULTI 40'00""",ZERT,MTS,LS-Mills-Mer-Mer-Strc A&C-Channels,SHAPE_C,"10"" CHN",10 X 15.3#,GGMULTI,"40'00""",352.206
18,2016-01-03,106020242,"C 10X15.3# GGMULTI 50'00""",ZERT,MTS,LS-Mills-Mer-Mer-Strc A&C-Channels,SHAPE_C,"10"" CHN",10 X 15.3#,GGMULTI,"50'00""",99.450
19,2016-01-03,106020243,"C 10X15.3# GGMULTI 60'00""",ZERT,MTS,LS-Mills-Mer-Mer-Strc A&C-Channels,SHAPE_C,"10"" CHN",10 X 15.3#,GGMULTI,"60'00""",26.622

In [53]:
#changing dtype
inv_reduced2["strategy"] = inv_reduced2["strategy"].astype("category")
inv_reduced2["sku"] = inv_reduced2["sku"].astype("object")

In [54]:
#removing non-end use product hierarchy
inv_reduced2 = inv_reduced2[(inv_reduced2["ph"]!= "LS-Mills-Bil-Bil-Bil-Billets") & 
                            (inv_reduced2["ph"]!= "DO NOT USE") &
                            (inv_reduced2["ph"]!= "LS-Mills-Mer-Mer-MBQ-MBQ HRB")]
inv_reduced2["ph"].value_counts()

LS-Mills-Mer-Mer-Strc A&C-Angles          263153
LS-Mills-Mer-Mer-Lght Shp-MBQ Angles      174981
LS-Mills-Mer-Mer-Strc A&C-Channels        164836
LS-Mills-Mer-Mer-MBQ-MBQ Fl                70798
LS-Mills-Reb-Reb-Str Reb-Str Reb           41162
LS-Mills-Mer-Mer-Lght Shp-MBQ Channels     37024
LS-Mills-Reb-Reb-Reb Spc-Rebar MRB          9864
LS-Mills-Mer-Mer-Strc A&C-MC Channels       6594
LS-Mills-Mer-Mer-MBQ-MBQ Rd                 3091
LS-Mills-Mer-Mer-MBQ-MBQ Sq                 1748
LS-Mills-Mer-Mer-MBQ-Pencil Rod              895
AL-Laminaciâˆšâ‰¥n-Perfiles-Canal                277
SS-Mills-SBQ-SBQ-SBQ-SBQ Rd                  170
Name: ph, dtype: int64

In [55]:
inv_reduced2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 774593 entries, 16 to 779020
Data columns (total 12 columns):
calendar_day            774593 non-null datetime64[ns]
sku                     774593 non-null object
material_description    774593 non-null object
material_type           774593 non-null object
strategy                767339 non-null category
ph                      774593 non-null object
shape                   771786 non-null object
block                   769246 non-null object
size                    771786 non-null object
steel_grade             771786 non-null object
length_text             769268 non-null object
tons                    774593 non-null float64
dtypes: category(1), datetime64[ns](1), float64(1), object(9)
memory usage: 71.7+ MB

### Sales Order Data

In [56]:
clean_columns(order_hist)

Index(['sold_to', 'ship_to', 'ship_to_city', 'ship_to_state', 'order_no',
       'item_no', 'material_number', 'material_description', 'division',
       'reject_reason_code', 'po_line_item_no', 'cust_material_no',
       'overdeliv_tol', 'underdeliv_tol', 'plant', 'plant_name', 'storage_loc',
       'shipping_point', 'route', 'sales_district_code', 'requested_date',
       'confirmed_date', 'order_qty_sales_units', 'confirmed_qty', 'sales_uom',
       'weight_per_piece', 'req_qty_base_uom', 'base_uom', 'transp_plan_date',
       'material_avail_date', 'load_date', 'plan_goods_issue_date',
       'delivery_block', 'qty_on_delivery', 'qty_on_shipment', 'qty_shipped',
       'qty_on_delivery_sales_units', 'qty_on_shipment_sales_units',
       'qty_shipped_sales_units', 'item_status'],
      dtype='object')

In [57]:
order_hist.head()

,sold_to,ship_to,ship_to_city,ship_to_state,order_no,item_no,material_number,material_description,division,reject_reason_code,...,load_date,plan_goods_issue_date,delivery_block,qty_on_delivery,qty_on_shipment,qty_shipped,qty_on_delivery_sales_units,qty_on_shipment_sales_units,qty_shipped_sales_units,item_status
0,100091881,100103709,CANDIAC,QC,171122,60,106020877,"L 6X6X1/2 A36/44W/A529-50 40'00""",5,,...,2013-02-06,2013-02-07,,0.0,0.0,583296.000,0.0,0.0,82176.000,Completely Processed
1,100091881,100103709,CANDIAC,QC,171122,90,106020931,"L 6X6X3/8 50W 46'05""",5,,...,2013-03-27,2013-03-28,,0.0,0.0,329222.544,0.0,0.0,116504.016,Completely Processed
2,100091881,100103709,CANDIAC,QC,171122,50,106020931,"L 6X6X3/8 50W 46'05""",5,,...,2012-12-14,2012-12-17,,0.0,0.0,91296.000,0.0,0.0,91296.000,Completely Processed
3,100092158,100099545,NISKU,AB,358536,30,106021399,"C 6X8.2# A36/44W/A529-50 40'00""",3,,...,2013-06-03,2013-06-18,,0.0,0.0,59040.000,0.0,0.0,180.000,Completely Processed
4,100092158,100099545,NISKU,AB,358536,50,106021716,"C 8X11.5# GGMULTI 40'00""",3,,...,2013-06-07,2013-06-24,,0.0,0.0,18400.000,0.0,0.0,40.000,Completely Processed

In [76]:
#Reducing main data frame
order_reduced = order_hist[["requested_date",'confirmed_date','material_avail_date', 'load_date', 'plan_goods_issue_date','sales_district_code',
                            "division", "sold_to", "ship_to","route","ship_to_city", "ship_to_state", "material_number",'material_description',
                            'order_qty_sales_units', 'confirmed_qty', 'sales_uom','qty_on_shipment','qty_shipped_sales_units', 'item_status',]]
order_reduced.rename(columns={"material_number":"sku"}, inplace=True)
order_reduced = order_reduced.sort_values(["confirmed_date", "material_description"])
order_reduced.head(-5)

,requested_date,confirmed_date,material_avail_date,load_date,plan_goods_issue_date,sales_district_code,division,sold_to,ship_to,route,ship_to_city,ship_to_state,sku,material_description,order_qty_sales_units,confirmed_qty,sales_uom,qty_on_shipment,qty_shipped_sales_units,item_status
188922,1900-01-01,1900-01-01,1900-01-01,1900-01-01,1900-01-01,100311,3,100091887,100094602,C00486,MISSISSAUGA,ON,106029006,"L 2X2X3/8 GGMULTI 20'00""",0.00,0.00,,NaN,NaN,Not Yet Processed
188915,1900-01-01,1900-01-01,1900-01-01,1900-01-01,1900-01-01,100311,3,100091887,100094602,C00486,MISSISSAUGA,ON,106028705,"L 4X3X3/8 GGMULTI 20'00""",0.00,0.00,,NaN,NaN,Not Yet Processed
188916,1900-01-01,1900-01-01,1900-01-01,1900-01-01,1900-01-01,100311,3,100091887,100094602,C00486,MISSISSAUGA,ON,106028755,"L 4X4X1/4 GGMULTI 20'00""",0.00,0.00,,NaN,NaN,Not Yet Processed
1497,2012-07-22,2012-07-22,2013-07-19,2013-07-19,2013-07-22,,5,100061219,100061228,C00333,CAMBRIDGE,ON,106022700,"L 5X3 1/2X5/16 A36/44W/A529-50 40'00""",10.44,10.44,TON,0.0,20.88,Completely Processed
119,2012-10-01,2012-10-01,2012-10-26,2012-10-26,2012-10-29,,5,100091890,100094606,C00427,KITCHENER,ON,106020434,"C 3X5# A36/44W/A529-50 20'00""",4800.00,4800.00,LB,0.0,9600.00,Completely Processed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186380,1900-01-01,2020-09-08,2020-09-03,2020-09-03,2020-09-04,100311,3,100061219,100061228,C00333,CAMBRIDGE,ON,109008606,"F 1X7 GGMULTI 20'00""",9520.00,9520.00,LB,NaN,NaN,Not Yet Processed
187076,2020-04-01,2020-09-08,2020-09-03,2020-09-03,2020-09-04,100311,3,100092135,100095263,C07102,SAINT-BRUNO,QC,109008606,"F 1X7 GGMULTI 20'00""",19040.00,19040.00,LB,NaN,NaN,Not Yet Processed
185362,2020-09-08,2020-09-08,2020-09-03,2020-09-03,2020-09-04,100313,3,100092191,100095443,C00486,MISSISSAUGA,ON,106022550,"L 2 1/2X2 1/2X1/4 55W 60'00""",103320.00,103320.00,LB,NaN,NaN,Not Yet Processed
183265,2020-09-11,2020-09-11,2020-09-09,2020-09-09,2020-09-10,100313,3,100092191,100095443,C00486,MISSISSAUGA,ON,106022472,"L 2X2X1/4 55W 60'00""",93600.00,93600.00,LB,NaN,NaN,Not Yet Processed
181857,1900-01-01,2020-09-11,2020-09-09,2020-09-09,2020-09-10,100313,3,100092191,100095443,C00486,MISSISSAUGA,ON,106022114,"L 3 1/2X3 1/2X3/8 55W 60'00""",91800.00,91800.00,LB,NaN,NaN,Not Yet Processed

#### Understanding Orders not confirmed for requested date == 1900-01-01

In [77]:
# Confirned date only has three of these, safe to use. 
order_reduced[order_reduced["confirmed_date"]=='1900-01-01'].shape

(3, 20)

In [78]:
#Most are completely processed, but with nearly 1/5 on-process
order_reduced[order_reduced["requested_date"]=='1900-01-01']["item_status"].value_counts()

Completely Processed    4447
Not Yet Processed        912
Partially Processed      155
Name: item_status, dtype: int64

In [79]:
#Most are from late 2019 - early 2020
order_reduced[order_reduced["requested_date"]=='1900-01-01'].sample(10)

,requested_date,confirmed_date,material_avail_date,load_date,plan_goods_issue_date,sales_district_code,division,sold_to,ship_to,route,ship_to_city,ship_to_state,sku,material_description,order_qty_sales_units,confirmed_qty,sales_uom,qty_on_shipment,qty_shipped_sales_units,item_status
174191,1900-01-01,2020-02-01,2020-01-29,2020-01-29,2020-01-30,100311,3,100051178,100103857,C07226,VARENNES,QC,106021718,"C 8X11.5# GGMULTI 50'00""",9200.0,9200.0,LB,0.0,18400.0,Completely Processed
168445,1900-01-01,2019-10-05,2019-10-15,2019-10-15,2019-10-16,100306,3,100060244,100060290,U04827,GRAND BLANC,MI,106029602,"L 6X6X5/8 GGMULTI 20'00""",4356.0,4356.0,LB,0.0,8712.0,Completely Processed
169433,1900-01-01,2019-11-11,2019-11-11,2019-11-11,2019-11-11,100311,3,100051178,100932335,999999,PETERBOROUGH,ON,106028833,"L 2 1/2X2 1/2X3/8 GGMULTI 20'00""",11564.0,11564.0,LB,0.0,22892.0,Completely Processed
178281,1900-01-01,2020-02-01,2020-03-25,2020-03-25,2020-04-09,100312,3,100092138,100095277,CM0190,BURNABY,BC,109005464,"F 1/4X6 GGMULTI 20'00""",4896.0,4896.0,LB,0.0,9792.0,Completely Processed
180358,1900-01-01,2020-04-12,2020-04-12,2020-04-12,2020-04-12,100311,3,100051178,100103843,999999,LISTOWEL,ON,109005376,"F 3/4X10 GGMULTI 20'00""",4080.0,4080.0,LB,NaN,NaN,Not Yet Processed
165463,1900-01-01,2019-11-07,2019-11-07,2019-11-07,2019-11-07,100311,3,100051178,100103838,999999,SALABERRY-DE-VALLEYFIELD,QC,106029420,"L 6X3 1/2X5/16 GGMULTI 40'00""",9800.0,9800.0,LB,0.0,19600.0,Completely Processed
174247,1900-01-01,2019-12-15,2019-12-11,2019-12-11,2019-12-12,100311,3,100051178,100103857,C07226,VARENNES,QC,106022830,"L 5X5X3/4 GGMULTI 40'00""",10384.0,10384.0,LB,0.0,20768.0,Completely Processed
177424,1900-01-01,2020-02-20,2020-02-18,2020-02-18,2020-02-19,100311,3,100061219,100061228,C00333,CAMBRIDGE,ON,106029420,"L 6X3 1/2X5/16 GGMULTI 40'00""",9800.0,9800.0,LB,0.0,19600.0,Completely Processed
170246,1900-01-01,2019-11-22,2020-01-08,2020-01-08,2020-01-09,103613,3,100092168,100095386,C00800,LONGUEUIL,QC,106028576,"L 3X3X1/4 GGMULTI 40'00""",98000.0,98000.0,LB,0.0,196000.0,Completely Processed
167104,1900-01-01,2019-11-08,2020-01-06,2020-01-06,2020-01-07,100305,3,100051266,100106363,U08224,PETERSBURG,VA,106019186,"L 7X4X3/8 GGMULTI 40'00""",29376.0,29376.0,LB,0.0,58752.0,Completely Processed

#### Explore Units of Measure

In [80]:
order_reduced["sales_uom"].value_counts()

LB     182513
TON      6364
ST         62
ZNT        11
            3
Name: sales_uom, dtype: int64

In [81]:
order_reduced[order_reduced["sales_uom"]=="TON"].sample(3)

,requested_date,confirmed_date,material_avail_date,load_date,plan_goods_issue_date,sales_district_code,division,sold_to,ship_to,route,ship_to_city,ship_to_state,sku,material_description,order_qty_sales_units,confirmed_qty,sales_uom,qty_on_shipment,qty_shipped_sales_units,item_status
96476,2017-02-03,2017-02-06,2017-01-31,2017-01-31,2017-02-01,,3,100091669,100103486,U02690,MIAMI,FL,106028573,"L 3X3X1/4 GGMULTI 20'00""",3.185,3.185,TON,0.0,6.37,Completely Processed
10272,2013-03-01,2013-03-25,2013-03-21,2013-03-21,2013-03-22,,2,100092254,100095615,C00786,LAVAL,QC,110001535,RB 15M 400W 18M 00CM,165.000,165.000,TON,0.0,318.01,Completely Processed
49334,2015-01-07,2015-01-07,2015-01-02,2015-01-02,2015-01-05,,3,100063215,100098870,U03365,ADDISON,IL,106028990,"L 3 1/2X3 1/2X1/4 GGMULTI 40'00""",10.440,10.440,TON,0.0,20.88,Completely Processed

#### Convert LB to Tons

In [82]:
if "LB" in order_reduced["sales_uom"].unique():
    order_reduced.loc[order_reduced["sales_uom"] == "LB", "confirmed_qty"] = order_reduced["confirmed_qty"].apply(lambda x: x / 2000)
    order_reduced.loc[order_reduced["sales_uom"] == "LB", "order_qty_sales_units"] = order_reduced["order_qty_sales_units"].apply(lambda x: x / 2000)
    order_reduced.loc[order_reduced["sales_uom"] == "LB", "qty_on_shipment"] = order_reduced["qty_on_shipment"].apply(lambda x: x / 2000)
    order_reduced.loc[order_reduced["sales_uom"] == "LB", "qty_shipped_sales_units"] = order_reduced["qty_shipped_sales_units"].apply(lambda x: x / 2000)
    order_reduced.loc[order_reduced["sales_uom"] == "LB", "sales_uom"] = "TON"

#### Add Unique Size, Block, Hierarchy to Sales Data

In [83]:
inv_reduced2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 774593 entries, 16 to 779020
Data columns (total 12 columns):
calendar_day            774593 non-null datetime64[ns]
sku                     774593 non-null object
material_description    774593 non-null object
material_type           774593 non-null object
strategy                767339 non-null category
ph                      774593 non-null object
shape                   771786 non-null object
block                   769246 non-null object
size                    771786 non-null object
steel_grade             771786 non-null object
length_text             769268 non-null object
tons                    774593 non-null float64
dtypes: category(1), datetime64[ns](1), float64(1), object(9)
memory usage: 71.7+ MB

In [84]:
size_dict = inv_reduced2.groupby(["sku","size"]).sum()
size_dict = size_dict.reset_index()
size_dict = size_dict.drop("tons", axis=1)

In [85]:
block_dict = inv_reduced2.groupby(["sku","block"]).sum()
block_dict = block_dict.reset_index()
block_dict = block_dict.drop("tons", axis=1)

In [86]:
ph_dict = inv_reduced2.groupby(["sku","ph"]).sum()
ph_dict = ph_dict.reset_index()
ph_dict = ph_dict.drop("tons", axis=1)

In [90]:
block_dict.sample(5)

            sku           block
1044  106251349      3 X 2" ANG
511   106028654  5 X 3-1/2" ANG
341   106023071          3" ANG
1635  110001530            15MM
777   106040366      3-1/2" ANG

In [100]:
#order_reduced = order_reduced.merge(size_dict, how="left", left_on="sku", right_on="sku")
#order_reduced = order_reduced.merge(block_dict, how="left", left_on="sku", right_on="sku")
#order_reduced = order_reduced.merge(ph_dict, how="left", left_on="sku", right_on="sku")

In [101]:
order_reduced.columns

Index(['requested_date', 'confirmed_date', 'material_avail_date', 'load_date',
       'plan_goods_issue_date', 'sales_district_code', 'division', 'sold_to',
       'ship_to', 'route', 'ship_to_city', 'ship_to_state', 'sku',
       'material_description', 'order_qty_sales_units', 'confirmed_qty',
       'sales_uom', 'qty_on_shipment', 'qty_shipped_sales_units',
       'item_status', 'size', 'block', 'ph'],
      dtype='object')

In [102]:
order_reduced.head()

,requested_date,confirmed_date,material_avail_date,load_date,plan_goods_issue_date,sales_district_code,division,sold_to,ship_to,route,...,material_description,order_qty_sales_units,confirmed_qty,sales_uom,qty_on_shipment,qty_shipped_sales_units,item_status,size,block,ph
0,1900-01-01,1900-01-01,1900-01-01,1900-01-01,1900-01-01,100311,3,100091887,100094602,C00486,...,"L 2X2X3/8 GGMULTI 20'00""",0.00,0.00,,NaN,NaN,Not Yet Processed,2X2X3/8,"2"" ANG",LS-Mills-Mer-Mer-Lght Shp-MBQ Angles
1,1900-01-01,1900-01-01,1900-01-01,1900-01-01,1900-01-01,100311,3,100091887,100094602,C00486,...,"L 4X3X3/8 GGMULTI 20'00""",0.00,0.00,,NaN,NaN,Not Yet Processed,4X3X3/8,"4 X 3"" ANG",LS-Mills-Mer-Mer-Strc A&C-Angles
2,1900-01-01,1900-01-01,1900-01-01,1900-01-01,1900-01-01,100311,3,100091887,100094602,C00486,...,"L 4X4X1/4 GGMULTI 20'00""",0.00,0.00,,NaN,NaN,Not Yet Processed,4X4X1/4,"4"" ANG",LS-Mills-Mer-Mer-Strc A&C-Angles
3,2012-07-22,2012-07-22,2013-07-19,2013-07-19,2013-07-22,,5,100061219,100061228,C00333,...,"L 5X3 1/2X5/16 A36/44W/A529-50 40'00""",10.44,10.44,TON,0.0,20.88,Completely Processed,NaN,NaN,NaN
4,2012-10-01,2012-10-01,2012-10-26,2012-10-26,2012-10-29,,5,100091890,100094606,C00427,...,"C 3X5# A36/44W/A529-50 20'00""",2.40,2.40,TON,0.0,4.80,Completely Processed,NaN,NaN,NaN

In [103]:
order_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188983 entries, 0 to 188982
Data columns (total 23 columns):
requested_date             188983 non-null datetime64[ns]
confirmed_date             188983 non-null datetime64[ns]
material_avail_date        188983 non-null datetime64[ns]
load_date                  188983 non-null datetime64[ns]
plan_goods_issue_date      188983 non-null datetime64[ns]
sales_district_code        188983 non-null object
division                   188983 non-null int64
sold_to                    188983 non-null int64
ship_to                    188983 non-null int64
route                      188983 non-null object
ship_to_city               188983 non-null object
ship_to_state              188983 non-null object
sku                        188983 non-null int64
material_description       188983 non-null object
order_qty_sales_units      188983 non-null float64
confirmed_qty              188983 non-null float64
sales_uom                  188983 non-null object
qty_on_shipment            184822 non-null float64
qty_shipped_sales_units    184822 non-null float64
item_status                188983 non-null object
size                       169031 non-null object
block                      162173 non-null object
ph                         169243 non-null object
dtypes: datetime64[ns](5), float64(4), int64(4), object(10)
memory usage: 34.6+ MB

In [108]:
order_reduced[order_reduced["size"].isna()].sample(15)

,requested_date,confirmed_date,material_avail_date,load_date,plan_goods_issue_date,sales_district_code,division,sold_to,ship_to,route,...,material_description,order_qty_sales_units,confirmed_qty,sales_uom,qty_on_shipment,qty_shipped_sales_units,item_status,size,block,ph
12190,2013-05-03,2013-05-03,2013-04-30,2013-04-30,2013-05-01,,3,100091784,100103632,U08524,...,"C 5X9# A36/44W/A529-50 20'00""",3.240,3.240,TON,0.0,6.480,Completely Processed,NaN,NaN,NaN
15605,2013-06-01,2013-06-24,2013-06-19,2013-06-19,2013-06-20,,3,100092558,100061382,C00226,...,"F 1/2X7 A36/44W/A572-50 20'00""",2.856,2.856,TON,0.0,5.712,Completely Processed,NaN,NaN,NaN
30295,2014-03-14,2014-03-14,2014-03-12,2014-03-12,2014-03-13,,3,100091993,100094864,U06416,...,"L 4X4X1/4 A36/44W/A529-50 20'00""",2.970,2.970,TON,0.0,5.940,Completely Processed,NaN,NaN,NaN
26641,2013-12-30,2014-01-10,2013-12-10,2013-12-10,2013-12-27,,3,100092155,100095353,CM0405,...,"L 2 1/2X2 1/2X1/4 44W/50W 40'00""",10.332,10.332,TON,0.0,20.664,Completely Processed,NaN,NaN,NaN
36838,2014-06-23,2014-06-23,2014-06-19,2014-06-19,2014-06-20,,3,100092546,100104414,C00786,...,"C 5X6.7# A36/44W/A529-50 40'00""",9.648,9.648,TON,0.0,19.296,Completely Processed,NaN,NaN,NaN
30898,2014-03-26,2014-03-26,2014-03-24,2014-03-24,2014-03-25,,3,100092036,100095021,C00398,...,"C 5X6.7# A36/44W/A529-50 20'00""",3.216,3.216,TON,0.0,6.432,Completely Processed,NaN,NaN,NaN
34651,2014-05-20,2014-05-20,2014-05-16,2014-05-16,2014-05-19,,3,100092478,100354407,C00599,...,"L 3 1/2X3 1/2X3/8 A36/44W/A529-50 40'00""",5.100,5.100,TON,0.0,10.200,Completely Processed,NaN,NaN,NaN
14911,2013-06-07,2013-06-12,2013-06-10,2013-06-10,2013-06-11,,3,100091872,100103703,C00295,...,"L 4X3X1/4 A36/44W/A529-50 40'00""",5.104,5.104,TON,0.0,10.208,Completely Processed,NaN,NaN,NaN
8875,2013-03-06,2013-03-12,2013-03-06,2013-03-06,2013-03-07,,3,100061247,100061261,C00253,...,"L 4X4X1/2 A36/44W/A529-50 40'00""",5.120,5.120,TON,0.0,10.240,Completely Processed,NaN,NaN,NaN
12542,2013-05-02,2013-05-08,2013-05-02,2013-05-02,2013-05-03,,3,100060679,100060695,U04121,...,"L 5X5X5/16 A36/44W/A529-50 20'00""",5.768,5.768,TON,0.0,11.536,Completely Processed,NaN,NaN,NaN
14414,2013-05-23,2013-06-05,2013-06-03,2013-06-03,2013-06-04,,3,100091891,100094610,C00593,...,"L 4X4X1/4 A36/44W/A529-50 20'00""",2.970,2.970,TON,0.0,5.940,Completely Processed,NaN,NaN,NaN
17670,2013-06-26,2013-07-29,2013-06-27,2013-06-27,2013-07-15,,3,100061349,100061360,CM0161,...,"C 4X5.4# A36/44W/A529-50 40'00""",15.552,15.552,TON,0.0,31.104,Completely Processed,NaN,NaN,NaN
14557,2013-06-07,2013-06-07,2013-06-04,2013-06-04,2013-06-05,,3,100060642,100060656,U03175,...,"C 6X8.2# A36/44W/A529-50 40'00""",24.600,24.600,TON,0.0,49.200,Completely Processed,NaN,NaN,NaN
27754,2014-02-01,2014-02-01,2014-02-01,2014-02-01,2014-02-01,,3,100092146,100103991,999999,...,"L 4X4X5/16 A36/44W/A529-50 20'00""",8.610,8.610,TON,0.0,17.056,Completely Processed,NaN,NaN,NaN
14852,2013-06-10,2013-06-12,2013-06-10,2013-06-10,2013-06-11,,3,100061219,100061228,C00333,...,"C 6X8.2# A36/44W/A529-50 50'00""",9.840,9.840,TON,0.0,19.680,Completely Processed,NaN,NaN,NaN

# Saving Reduced Datasets

In [109]:
data_reduced = [ship_reduced, inv_reduced, atp_reduced, prod_reduced, order_reduced, inv_reduced2]

In [110]:
#storing cleaned Prod
%store prod_reduced

#storing cleaned Ship
%store ship_reduced

#storing cleaned Inventory
#%store inv_reduced

#storing cleaned ATP
%store atp_reduced

#storing orders
%store order_reduced

#storing new(2016) inventory
%store inv_reduced2

Stored 'prod_reduced' (DataFrame)
Stored 'ship_reduced' (DataFrame)
Stored 'atp_reduced' (DataFrame)
Stored 'order_reduced' (DataFrame)
Stored 'inv_reduced2' (DataFrame)

# Single Merged Dataframe

## Inventory

### Checking Nulls

In [111]:
#creating dataframe for analysis of nulls in inventory
cols = ["shape", "block", "size"]

nulls = inv_reduced2[inv_reduced2[cols[2]].isna()]

In [112]:
#negligible by size
nulls.sum()

tons    26.573
dtype: float64

### Dimensions of Skus, Sizes, Blocks, Hierchies & Shapes

In [113]:
sku = inv_reduced2["sku"].nunique()
size = inv_reduced2["size"].nunique()
block = inv_reduced2["block"].nunique()
ph = inv_reduced2["ph"].nunique()
shape = inv_reduced2["shape"].nunique()

print(f"Unique Dimensions \n  Skus: {sku}\n  Sizes: {size}\n  Blocks: {block}\n  Hierarchies: {ph}\n  Shapes:{shape}")

Unique Dimensions
  Skus: 1747
  Sizes: 314
  Blocks: 112
  Hierarchies: 13
  Shapes:7

In [114]:
inv_reduced2[inv_reduced2["shape"]=="SHAPE_L"]["size"].nunique()

129

In [115]:
# #dimensions
# dimension = ["sku", "size", "block", "ph", "shape"]

# #change dimension index to change dimensions
# columns = ["calendar_day", dimension[0]]

### Adding IN_ prefix

In [116]:
if "IN_" not in inv_reduced2.columns[0]:
    inv_reduced2.columns = ["IN_" + str(col) for col in inv_reduced2.columns]

In [117]:
inv_reduced2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 774593 entries, 16 to 779020
Data columns (total 12 columns):
IN_calendar_day            774593 non-null datetime64[ns]
IN_sku                     774593 non-null object
IN_material_description    774593 non-null object
IN_material_type           774593 non-null object
IN_strategy                767339 non-null category
IN_ph                      774593 non-null object
IN_shape                   771786 non-null object
IN_block                   769246 non-null object
IN_size                    771786 non-null object
IN_steel_grade             771786 non-null object
IN_length_text             769268 non-null object
IN_tons                    774593 non-null float64
dtypes: category(1), datetime64[ns](1), float64(1), object(9)
memory usage: 71.7+ MB

## Sales Orders

### Adding SO_ prefix

In [118]:
if "SO_" not in order_reduced.columns[0]:
    order_reduced.columns = ["SO_" + str(col) for col in order_reduced.columns]

In [119]:
order_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188983 entries, 0 to 188982
Data columns (total 23 columns):
SO_requested_date             188983 non-null datetime64[ns]
SO_confirmed_date             188983 non-null datetime64[ns]
SO_material_avail_date        188983 non-null datetime64[ns]
SO_load_date                  188983 non-null datetime64[ns]
SO_plan_goods_issue_date      188983 non-null datetime64[ns]
SO_sales_district_code        188983 non-null object
SO_division                   188983 non-null int64
SO_sold_to                    188983 non-null int64
SO_ship_to                    188983 non-null int64
SO_route                      188983 non-null object
SO_ship_to_city               188983 non-null object
SO_ship_to_state              188983 non-null object
SO_sku                        188983 non-null int64
SO_material_description       188983 non-null object
SO_order_qty_sales_units      188983 non-null float64
SO_confirmed_qty              188983 non-null float64
SO_sales_uom                  188983 non-null object
SO_qty_on_shipment            184822 non-null float64
SO_qty_shipped_sales_units    184822 non-null float64
SO_item_status                188983 non-null object
SO_size                       169031 non-null object
SO_block                      162173 non-null object
SO_ph                         169243 non-null object
dtypes: datetime64[ns](5), float64(4), int64(4), object(10)
memory usage: 34.6+ MB

### Filter Data>=2016

In [120]:
date_limit = pd.Timestamp(2016,1,1)
order_reduced = order_reduced[order_reduced["SO_confirmed_date"]>=date_limit]

In [121]:
order_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120159 entries, 68824 to 188982
Data columns (total 23 columns):
SO_requested_date             120159 non-null datetime64[ns]
SO_confirmed_date             120159 non-null datetime64[ns]
SO_material_avail_date        120159 non-null datetime64[ns]
SO_load_date                  120159 non-null datetime64[ns]
SO_plan_goods_issue_date      120159 non-null datetime64[ns]
SO_sales_district_code        120159 non-null object
SO_division                   120159 non-null int64
SO_sold_to                    120159 non-null int64
SO_ship_to                    120159 non-null int64
SO_route                      120159 non-null object
SO_ship_to_city               120159 non-null object
SO_ship_to_state              120159 non-null object
SO_sku                        120159 non-null int64
SO_material_description       120159 non-null object
SO_order_qty_sales_units      120159 non-null float64
SO_confirmed_qty              120159 non-null float64
SO_sales_uom                  120159 non-null object
SO_qty_on_shipment            116001 non-null float64
SO_qty_shipped_sales_units    116001 non-null float64
SO_item_status                120159 non-null object
SO_size                       120052 non-null object
SO_block                      114810 non-null object
SO_ph                         120052 non-null object
dtypes: datetime64[ns](5), float64(4), int64(4), object(10)
memory usage: 22.0+ MB

### Dropping Columns not needed

In [122]:
order_reduced.columns

Index(['SO_requested_date', 'SO_confirmed_date', 'SO_material_avail_date',
       'SO_load_date', 'SO_plan_goods_issue_date', 'SO_sales_district_code',
       'SO_division', 'SO_sold_to', 'SO_ship_to', 'SO_route',
       'SO_ship_to_city', 'SO_ship_to_state', 'SO_sku',
       'SO_material_description', 'SO_order_qty_sales_units',
       'SO_confirmed_qty', 'SO_sales_uom', 'SO_qty_on_shipment',
       'SO_qty_shipped_sales_units', 'SO_item_status', 'SO_size', 'SO_block',
       'SO_ph'],
      dtype='object')

In [123]:
cols = ['SO_requested_date', 'SO_confirmed_date', 'SO_plan_goods_issue_date',
        'SO_sku','SO_material_description', 'SO_order_qty_sales_units',
        'SO_confirmed_qty', 'SO_sales_uom', 'SO_item_status']

order_reduced = order_reduced[cols]
order_reduced.head(5)

,SO_requested_date,SO_confirmed_date,SO_plan_goods_issue_date,SO_sku,SO_material_description,SO_order_qty_sales_units,SO_confirmed_qty,SO_sales_uom,SO_item_status
68824,2015-12-29,2016-01-01,2015-12-17,106022569,"L 2 1/2X2 1/2X5/16 55W 60'00""",315.00,315.00,TON,Completely Processed
68825,2016-01-02,2016-01-02,2015-12-16,109008267,"F 3/4X5 GGMULTI 20'00""",3.06,3.06,TON,Completely Processed
68826,2016-01-02,2016-01-02,2015-12-22,106028573,"L 3X3X1/4 GGMULTI 20'00""",12.74,12.74,TON,Completely Processed
68827,2016-01-02,2016-01-02,2015-12-22,106028446,"L 3X3X3/8 GGMULTI 40'00""",15.12,15.12,TON,Completely Processed
68828,2015-12-26,2016-01-02,2015-12-18,106023056,"L 3X3X5/16 55W 60'00""",27.45,27.45,TON,Completely Processed

## Shipments

### Adding SH_ prefix

In [124]:
if "SH_" not in ship_reduced.columns[0]:
    ship_reduced.columns = ["SH_" + str(col) for col in ship_reduced.columns]

In [125]:
ship_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156711 entries, 155274 to 21756
Data columns (total 15 columns):
SH_shipping_day            156711 non-null datetime64[ns]
SH_block                   153079 non-null object
SH_strategy                156700 non-null float64
SH_shape                   156700 non-null object
SH_size                    156700 non-null object
SH_div                     156711 non-null object
SH_sku                     156711 non-null int64
SH_material_description    156711 non-null object
SH_shipment_tons           156711 non-null float64
SH_segment                 154025 non-null object
SH_sold-to_party           156711 non-null int64
SH_ship-to_party           156711 non-null int64
SH_postal_code             156711 non-null object
SH_region_description      156711 non-null object
SH_country                 156711 non-null object
dtypes: datetime64[ns](1), float64(2), int64(3), object(9)
memory usage: 19.1+ MB

### Filter Data>=2016

In [126]:
ship_reduced = ship_reduced[ship_reduced["SH_shipping_day"]>=date_limit]

In [127]:
ship_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131465 entries, 30378 to 21756
Data columns (total 15 columns):
SH_shipping_day            131465 non-null datetime64[ns]
SH_block                   128423 non-null object
SH_strategy                131454 non-null float64
SH_shape                   131454 non-null object
SH_size                    131454 non-null object
SH_div                     131465 non-null object
SH_sku                     131465 non-null int64
SH_material_description    131465 non-null object
SH_shipment_tons           131465 non-null float64
SH_segment                 128799 non-null object
SH_sold-to_party           131465 non-null int64
SH_ship-to_party           131465 non-null int64
SH_postal_code             131465 non-null object
SH_region_description      131465 non-null object
SH_country                 131465 non-null object
dtypes: datetime64[ns](1), float64(2), int64(3), object(9)
memory usage: 16.0+ MB

## Production

### Adding PR_ prefix

In [128]:
if "PR_" not in prod_reduced.columns[0]:
    prod_reduced.columns = ["PR_" + str(col) for col in prod_reduced.columns]

In [129]:
prod_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14820 entries, 192 to 13808
Data columns (total 12 columns):
PR_calendar_day                      14820 non-null datetime64[ns]
PR_production_process                14820 non-null category
PR_production_process_description    14820 non-null category
PR_strategy                          14820 non-null category
PR_work_center                       13450 non-null category
PR_wc_description                    14820 non-null category
PR_block                             14815 non-null object
PR_shape                             14795 non-null category
PR_size                              14795 non-null object
PR_sku                               14820 non-null object
PR_material_description              14820 non-null object
PR_ton                               14820 non-null int64
dtypes: category(6), datetime64[ns](1), int64(1), object(4)
memory usage: 898.1+ KB

### Filter Data>=2016

In [130]:
prod_reduced = prod_reduced[prod_reduced["PR_calendar_day"]>=date_limit]

In [131]:
prod_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9833 entries, 12098 to 13808
Data columns (total 12 columns):
PR_calendar_day                      9833 non-null datetime64[ns]
PR_production_process                9833 non-null category
PR_production_process_description    9833 non-null category
PR_strategy                          9833 non-null category
PR_work_center                       8873 non-null category
PR_wc_description                    9833 non-null category
PR_block                             9828 non-null object
PR_shape                             9833 non-null category
PR_size                              9833 non-null object
PR_sku                               9833 non-null object
PR_material_description              9833 non-null object
PR_ton                               9833 non-null int64
dtypes: category(6), datetime64[ns](1), int64(1), object(4)
memory usage: 596.2+ KB

## First Merge (Inv & Order)

In [132]:
date = pd.DataFrame(pd.date_range('1/1/2016','3/15/2020'), columns =["date_index"])
date.head()

  date_index
0 2016-01-01
1 2016-01-02
2 2016-01-03
3 2016-01-04
4 2016-01-05

In [133]:
indexed_inv = date.merge(inv_reduced2, how='left', left_on="date_index", right_on="IN_calendar_day", validate='1:m')
indexed_inv.head(5)

,date_index,IN_calendar_day,IN_sku,IN_material_description,IN_material_type,IN_strategy,IN_ph,IN_shape,IN_block,IN_size,IN_steel_grade,IN_length_text,IN_tons
0,2016-01-01,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-02,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-03,2016-01-03,106020238,"C 10X15.3# GGMULTI 20'00""",ZERT,MTS,LS-Mills-Mer-Mer-Strc A&C-Channels,SHAPE_C,"10"" CHN",10 X 15.3#,GGMULTI,"20'00""",200.736
3,2016-01-03,2016-01-03,106020239,"C 10X15.3# GGMULTI 40'00""",ZERT,MTS,LS-Mills-Mer-Mer-Strc A&C-Channels,SHAPE_C,"10"" CHN",10 X 15.3#,GGMULTI,"40'00""",352.206
4,2016-01-03,2016-01-03,106020242,"C 10X15.3# GGMULTI 50'00""",ZERT,MTS,LS-Mills-Mer-Mer-Strc A&C-Channels,SHAPE_C,"10"" CHN",10 X 15.3#,GGMULTI,"50'00""",99.450

In [134]:
indexed_order = date.merge(order_reduced, how='left', left_on="date_index", right_on="SO_confirmed_date",validate='1:m')

In [135]:
left_cols = ["date_index","IN_sku"]
right_cols = ["SO_confirmed_date", "SO_sku"]

merge1 = indexed_inv.merge(order_reduced, how='outer', left_on=left_cols, right_on=right_cols)

In [136]:
merge1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 835827 entries, 0 to 835826
Data columns (total 22 columns):
date_index                  797164 non-null datetime64[ns]
IN_calendar_day             796755 non-null datetime64[ns]
IN_sku                      796755 non-null object
IN_material_description     796755 non-null object
IN_material_type            796755 non-null object
IN_strategy                 789867 non-null category
IN_ph                       796755 non-null object
IN_shape                    793974 non-null object
IN_block                    789518 non-null object
IN_size                     793974 non-null object
IN_steel_grade              793974 non-null object
IN_length_text              791473 non-null object
IN_tons                     796755 non-null float64
SO_requested_date           120159 non-null datetime64[ns]
SO_confirmed_date           120159 non-null datetime64[ns]
SO_plan_goods_issue_date    120159 non-null datetime64[ns]
SO_sku                      120159 non-null float64
SO_material_description     120159 non-null object
SO_order_qty_sales_units    120159 non-null float64
SO_confirmed_qty            120159 non-null float64
SO_sales_uom                120159 non-null object
SO_item_status              120159 non-null object
dtypes: category(1), datetime64[ns](5), float64(4), object(12)
memory usage: 141.1+ MB

In [137]:
merge1.head(5)

,date_index,IN_calendar_day,IN_sku,IN_material_description,IN_material_type,IN_strategy,IN_ph,IN_shape,IN_block,IN_size,...,IN_tons,SO_requested_date,SO_confirmed_date,SO_plan_goods_issue_date,SO_sku,SO_material_description,SO_order_qty_sales_units,SO_confirmed_qty,SO_sales_uom,SO_item_status
0,2016-01-01,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-02,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-03,2016-01-03,106020238,"C 10X15.3# GGMULTI 20'00""",ZERT,MTS,LS-Mills-Mer-Mer-Strc A&C-Channels,SHAPE_C,"10"" CHN",10 X 15.3#,...,200.736,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-03,2016-01-03,106020239,"C 10X15.3# GGMULTI 40'00""",ZERT,MTS,LS-Mills-Mer-Mer-Strc A&C-Channels,SHAPE_C,"10"" CHN",10 X 15.3#,...,352.206,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-03,2016-01-03,106020242,"C 10X15.3# GGMULTI 50'00""",ZERT,MTS,LS-Mills-Mer-Mer-Strc A&C-Channels,SHAPE_C,"10"" CHN",10 X 15.3#,...,99.450,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
merge1[(merge1["date_index"].isna()) & (merge1["SO_plan_goods_issue_date"].notna())].sample(20)

,date_index,IN_calendar_day,IN_sku,IN_material_description,IN_material_type,IN_strategy,IN_ph,IN_shape,IN_block,IN_size,...,IN_tons,SO_requested_date,SO_confirmed_date,SO_plan_goods_issue_date,SO_sku,SO_material_description,SO_order_qty_sales_units,SO_confirmed_qty,SO_sales_uom,SO_item_status
811813,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2018-01-05,2018-01-05,2018-01-04,106028929.0,"L 3 1/2X2 1/2X5/16 GGMULTI 40'00""",4.8800,4.8800,TON,Completely Processed
801406,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2016-07-03,2016-07-03,2016-06-24,106020242.0,"C 10X15.3# GGMULTI 50'00""",9.1800,9.1800,TON,Completely Processed
831265,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1900-01-01,2020-05-01,2020-04-30,106021759.0,"C 8X18.75# GGMULTI 20'00""",3.0000,3.0000,TON,Not Yet Processed
822837,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2019-09-13,2019-09-13,2019-09-09,106029023.0,"L 2X2X1/4 GGMULTI 20'00""",3.1580,3.1580,TON,Completely Processed
808859,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2017-07-31,2017-07-31,2017-08-21,109008667.0,"F 1/2X3 GGMULTI 20'00""",2.4480,2.4480,TON,Completely Processed
804788,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2017-02-10,2017-02-10,2017-01-27,106020243.0,"C 10X15.3# GGMULTI 60'00""",11.0160,11.0160,TON,Completely Processed
814098,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2018-04-06,2018-04-06,2018-04-05,109008106.0,"F 3/8X8 GGMULTI 20'00""",3.0630,3.0630,TON,Completely Processed
814800,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2018-05-11,2018-05-11,2018-05-11,106023056.0,"L 3X3X5/16 55W 60'00""",300.1200,300.1200,TON,Completely Processed
799385,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2016-04-15,2016-04-15,2016-04-14,106028534.0,"L 3X2X3/16 GGMULTI 20'00""",9.8240,9.8240,TON,Completely Processed
807097,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2017-03-31,2017-05-05,2017-04-21,109005365.0,"F 1/4X5 GGMULTI 20'00""",4.7600,4.7600,TON,Completely Processed
815303,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2018-06-08,2018-06-08,2018-06-07,106027440.0,"C 6X13# GGMULTI 20'00""",6.2400,6.2400,TON,Completely Processed
829142,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1900-01-01,2020-04-10,2020-03-31,109008267.0,"F 3/4X5 GGMULTI 20'00""",2.6675,2.6675,TON,Completely Processed
800802,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2016-06-01,2016-06-01,2016-05-31,106029703.0,"L 6X6X3/8 GGMULTI 40'00""",5.0660,5.0660,TON,Completely Processed
820812,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2019-06-28,2019-06-28,2019-06-26,106029023.0,"L 2X2X1/4 GGMULTI 20'00""",3.1580,3.1580,TON,Completely Processed
804525,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2017-01-27,2017-01-27,2017-01-26,106021716.0,"C 8X11.5# GGMULTI 40'00""",4.6000,4.6000,TON,Completely Processed
825738,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1900-01-01,2020-02-02,2020-01-21,106020239.0,"C 10X15.3# GGMULTI 40'00""",24.4800,24.4800,TON,Completely Processed
800818,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2016-02-20,2016-06-02,2016-05-31,106023171.0,"L 3X2X3/8 A36 30'00""",18.8510,18.8520,TON,Completely Processed
812770,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2018-02-05,2018-02-05,2018-03-08,106023438.0,"L 4X3X3/8 55W 60'00""",20.4000,20.4000,TON,Completely Processed
815424,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2018-04-10,2018-06-14,2018-06-14,109250284.0,"F 1/2X3/4 GGMULTI 20'00""",2.3745,2.3745,TON,Completely Processed
805987,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2017-03-24,2017-03-24,2017-03-23,106027353.0,"C 6X8.2# GGMULTI 40'00""",9.8400,9.8400,TON,Completely Processed

In [139]:
indexed_inv[indexed_inv["IN_sku"] == 106022569].size

14430

In [140]:
indexed_inv[indexed_inv["date_index"] == pd.Timestamp(2016-1-2)].size

0