# Exploring Merged File

In [36]:
#Dependencies
import os
import numpy as np
import pandas as pd
import joblib
import matplotlib.pyplot as plt
import seaborn as sns
import re
import datetime as dt

In [37]:
os.getcwd()

'/Users/jacosta3/OneDrive - University of South Florida/Gerdau Projects/pft/datasets'

In [38]:
#change path to datasets folder
os.chdir("../datasets/")
#read merged.pkl
merged_df = pd.read_pickle("./serialized/merged.pkl")

In [39]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 814243 entries, 0 to 814242
Data columns (total 16 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   calendar_day              814243 non-null  datetime64[ns]
 1   sku                       814243 non-null  object
 2   size                      811071 non-null  object
 3   block                     813827 non-null  object
 4   material_description      813086 non-null  object
 5   shape                     810269 non-null  object
 6   strategy                  805552 non-null  object
 7   steel_grade               810269 non-null  object
 8   length_text               808869 non-null  object
 9   work_center               814189 non-null  object
 10  ph                        813878 non-null  object
 11  IN_tons                   774593 non-null  float64
 12  SO_order_qty_sales_units  77225 non-null   float64
 13  SO_confirmed_qty          77225 non-null   float64
 14  SH_shipment_tons          89182 non-null   float64
 15  PR_ton                    9740 non-null    float64
dtypes: datetime64[ns](1), float64(5), object(10)
memory usage: 105.6+ MB

In [49]:
# look at block level
merged_df[merged_df["block"].isna()].groupby('sku').sum().max()

IN_tons                       88.806999
SO_order_qty_sales_units    5964.320000
SO_confirmed_qty            4097.900000
SH_shipment_tons              95.000000
PR_ton                        95.000000
dtype: float64

In [50]:
#look at the size level
merged_df[merged_df["size"].isna()].groupby('sku').sum().max()

IN_tons                       28.25
SO_order_qty_sales_units    5964.32
SO_confirmed_qty            4097.90
SH_shipment_tons              95.00
PR_ton                        95.00
dtype: float64

In [55]:
#preview of merged by size
merged_df.groupby(['calendar_day','size']).sum()

                               IN_tons  SO_order_qty_sales_units  \
calendar_day size
2016-01-01   2 1/2X2 1/2X5/16      0.0                   315.000
2016-01-02   3/4 X 5               0.0                     3.060
             3X3X1/4               0.0                    12.740
             3X3X3/8               0.0                    15.120
             3X3X5/16              0.0                    27.450
...                                ...                       ...
2020-11-10   1/2 X 9               0.0                     4.284
             3/8 X 9               0.0                     2.181
2020-12-15   1 X 10                0.0                     2.040
             8 X 18.75#            0.0                     4.500
2020-12-18   4 X 5.4#              0.0                     1.944

                               SO_confirmed_qty  SH_shipment_tons  PR_ton
calendar_day size
2016-01-01   2 1/2X2 1/2X5/16           315.000               0.0     0.0
2016-01-02   3/4 X 5                      3.060               0.0     0.0
             3X3X1/4                     12.740               0.0     0.0
             3X3X3/8                     15.120               0.0     0.0
             3X3X5/16                    27.450               0.0     0.0
...                                         ...               ...     ...
2020-11-10   1/2 X 9                      4.284               0.0     0.0
             3/8 X 9                      2.181               0.0     0.0
2020-12-15   1 X 10                       2.040               0.0     0.0
             8 X 18.75#                   4.500               0.0     0.0
2020-12-18   4 X 5.4#                     1.944               0.0     0.0

[242555 rows x 5 columns]

In [54]:
#preview of merged by block
merged_df.groupby(['calendar_day','block']).sum()

                         IN_tons  SO_order_qty_sales_units  SO_confirmed_qty  \
calendar_day block
2016-01-01   2-1/2" ANG    0.000                   315.000           315.000
2016-01-02   3" ANG        0.000                    55.310            55.310
             5" ANG        0.000                    39.000            39.000
             5" FLT        0.000                     3.060             3.060
2016-01-03   #7 REB      184.359                     0.000             0.000
...                          ...                       ...               ...
2020-09-11   3-1/2" ANG    0.000                    45.900            45.900
2020-11-10   9" FLT        0.000                     6.465             6.465
2020-12-15   10" FLT       0.000                     2.040             2.040
             8" CHN        0.000                     4.500             4.500
2020-12-18   4" CHN        0.000                     1.944             1.944

                         SH_shipment_tons  PR_ton
calendar_day block
2016-01-01   2-1/2" ANG               0.0     0.0
2016-01-02   3" ANG                   0.0     0.0
             5" ANG                   0.0     0.0
             5" FLT                   0.0     0.0
2016-01-03   #7 REB                   0.0     0.0
...                                   ...     ...
2020-09-11   3-1/2" ANG               0.0     0.0
2020-11-10   9" FLT                   0.0     0.0
2020-12-15   10" FLT                  0.0     0.0
             8" CHN                   0.0     0.0
2020-12-18   4" CHN                   0.0     0.0

[81497 rows x 5 columns]

In [ ]:
#Convert to csv for easy share?
#merged_df.to_pickle(ser_path + "merged.pkl")